swagger: "2.0"
info:
  description: "The Debbie APIs is a RESTful interface, allowing you to programmatically update, add and access much of your data on the platform. It provides predictable URLs for accessing resources, and uses built-in HTTP features to receive commands and return responses. This makes it easy to communicate with third party systems."
  version: "v1.0.0"
  title: "Debbie Platform API Docs"
  termsOfService: "https://debbie.dk/terms"
  contact:
    email: "support@debbie.dk"
  x-logo:
    url: "https://debbie-platform.github.io/platform-api-docs/deb-logo.svg"
host: "api.debbie.dk"

basePath: "/v1"
tags:
  - name: "General"
    description: "The API fundamentals"
  - name: "Cases"
    description: "Everything about cases"
  - name: "Economy"
    description: "Everything about economy"
  - name: "Creditors"
    description: "Create and update creditors"
  - name: "Updates"
    description: "Update case"
  - name: "Interactions"
    description: "Create notes and messages"
  - name: "Webhooks"
    description: "Register new webhooks and delete them"
schemes:
  - "https"
paths:
  /files:
    post:
      tags:
        - "General"
      summary: "Upload file"
      description: "Store files like invoices and agreements by using this endpoint."
      operationId: "Upload file"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Data for the file"
          required: true
          schema:
            $ref: "#/definitions/NewFile"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/File"

  /files/:fileId:
    get:
      tags:
        - "General"
      summary: "Retrieve files"
      description: "Get uploaded files with this endpoint."
      operationId: "Get File"
      produces:
        - "contentType"
      responses:
        "200":
          description: "Success"
  /files/:fileId/:optionalFileName:
    get:
      tags:
        - "General"
      summary: "Retrieve files"
      description: "Get uploaded files with this endpoint."
      operationId: "Get File with optional file name"
      produces:
        - "contentType"
      responses:
        "200":
          description: "Success"
  /cases:
    post:
      tags:
        - "Cases"
      summary: "Create new case"
      description: "Upload new cases"
      operationId: "Create Case"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Pet object that needs to be added to the store"
          required: true
          schema:
            $ref: "#/definitions/File"
      responses:
        "405":
          description: "Invalid input"
  /cases/:caseId:
    get:
      tags:
        - "Cases"
      summary: "How to authenticate to the platform"
      description: "Different ways to authenticate"
      operationId: "Get Case"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Pet object that needs to be added to the store"
          required: true
          schema:
            $ref: "#/definitions/File"
      responses:
        "405":
          description: "Invalid input"

  /economy:
    post:
      tags:
        - "Economy"
      summary: "Add deposit"
      description: "Add deposit to a case or without a case"
      operationId: "Add deposit"
      responses:
        "405":
          description: "Invalid input"

  /creditors:
    post:
      tags:
        - "Creditors"
      summary: "Create creditor"
      description: "Create new creditor"
      operationId: "Create Creditor"
      responses:
        "405":
          description: "Invalid input"

    get:
      tags:
        - "Creditors"
      summary: "Get creditor"
      description: "Get creditor"
      operationId: "Get Creditor"
      responses:
        "405":
          description: "Invalid input"

    put:
      tags:
        - "Creditors"
      summary: "Update creditor"
      description: "Update creditor"
      operationId: "Update Creditor"
      responses:
        "405":
          description: "Invalid input"

  /updates/:caseId:
    post:
      tags:
        - "Updates"
      summary: "Add update to a case"
      description: "Add an update to a case to describe it and/or to pause the case and/or remind a caseworker."
      operationId: "New update"
      responses:
        "405":
          description: "Invalid input"

    get:
      tags:
        - "Updates"
      summary: "Get update on a case"
      description: "Get all updates on a case."
      operationId: "Get Updates On Case"
      responses:
        "405":
          description: "Invalid input"

  /updates/types:
    get:
      tags:
        - "Updates"
      summary: "Get update types"
      description: "Get all possible update types"
      operationId: "Get Update Types"
      responses:
        "405":
          description: "Invalid input"

  /interations/:caseId:
    post:
      tags:
        - "Interactions"
      summary: "Create interactions"
      description: "Create notes, emails, messages and much more"
      operationId: "Create New Interactions"
      responses:
        "405":
          description: "Invalid input"

    get:
      tags:
        - "Interactions"
      summary: "Create notes, messages and much more"
      description: "Different ways to authenticate"
      operationId: "Get Interactions On Case"
      responses:
        "405":
          description: "Invalid input"

  /webhooks:
    post:
      tags:
        - "Webhooks"
      summary: "Create webhook"
      description: "Create new webhook"
      operationId: "Create New Webhook"
      responses:
        "405":
          description: "Invalid input"

    get:
      tags:
        - "Webhooks"
      summary: "Get webhooks"
      description: "Get webhook"
      operationId: "Get Webhook"
      responses:
        "405":
          description: "Invalid input"

    delete:
      tags:
        - "Webhooks"
      summary: "Delete webhook"
      description: "Delete created webhook"
      operationId: "Delete Webhook"
      responses:
        "405":
          description: "Invalid input"

securityDefinitions:
  Query Parameter:
    type: "apiKey"
    name: "X-Debbie-Auth-Token: <YOUR_VERY_SECRET_TOKEN>"
    in: "header"
  Header Parameter:
    type: "apiKey"
    name: "authToken=<YOUR_VERY_SECRET_TOKEN>"
    in: "query"

definitions:
  NewFile:
    type: "object"
    properties:
      content:
        type: "string"
        format: "base64"
      fileName:
        type: "string"
      contentType:
        type: "string"
  File:
    type: "object"
    properties:
      fileId:
        type: "string"
externalDocs:
  description: "Find out more about Debbie"
  url: "https://debbie.dk"
